@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 style="color: blue">Welcome!</h2>
    <p style="color: green; font-size: 25px; font-style: italic">
        This is a great website to learn .NET tech stack!.
    </p>
    <h3
        style="
            color: maroon;
            font-style: italic;
            text-align: center;
            font-size: 50px;
            padding-top: 25px;
            ">
            Hello World;
        </h3>
</div>
