<h3>Privacy Terms</h3>﻿
<h2 style="color: blue">Privacy Terms</h2>
<p style="color: green; font-size: 25px; font-style: italic">
    Check all the Privacy policy here
</p>
<h3 style="
            color: maroon;
            font-style: italic;
            text-align: center;
            font-size: 50px;
            padding-top: 25px;
            ">
    Hello World;
</h3>
<p>Use this page to detail your site's privacy policy.</p>
